/* Footer.css */
.site-footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .site-footer .container {
    max-width: 600px;
    margin: 0 auto;
    border-top : 1px solid;
  }
  
  .footer-info h2 {
    font-size: 1em;
  }
  
  .copy-right p {
    margin-top: 10px;
    font-size: 0.9em;
  }
  